header {
    text-align: center;
}
h1, h2, span, p {
    color: white;
}

body {
    background-color: rgba(151, 204, 232, 1);
    font-family: 'Roboto', sans-serif;
}
body section{
    margin: 20px;
    border: 4px solid rgba(112, 202, 77, 1);
    padding: 30px;
}

section {
    height: 600px;
    width: 600px;
}

a {
    color: rgba(122, 202, 77, 1);
}

img {
    float: right;
    margin: 0 0 1em 1em;
    height: 225px;
  }

footer {
    text-align: center;
}
